body {
    text-align: center;
    font-weight: bold;
}

#container {
    display: flex;
    flex-wrap: wrap;
}

#board-background {
    position: relative;
    top: -15px;
    left: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#grass-background {
    top: 150px;
    left: 85px;
    position: absolute;
}

#board {
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

#board div {
    width: 28px;
    height: 28px;
    border: 1px solid whitesmoke;
    opacity: 0.5;
}

#menu-background {
    position: relative;
    top: -1px;
    left: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu {
    position: absolute;
    top: 150px;
}

#selectSD-button {
    border: none;
    font-weight: bold;
    background-color: transparent;
}

#selectP-button {
    border: none;
    font-weight: bold;
    background-color: transparent;
}

.wall {
    width: 28px;
    height: 28px;
    border: 1px solid whitesmoke;
    background-color: black;
}

.source {
    background-color: green;
}

.destination {
    background-color: red;
}

.path {
    background-color: yellow;
}






